.app-search-input__component {
  background-color: #e7e3e3;
  border: 2px solid #e7e3e3;
  padding: 8px 10px;
  width: 100%;
  border-radius: 6px;
  transition: background-color .4s, border-color .4s;
  outline: none;
 }
 
 .app-search-input__component:focus {
  background-color: #fff;
  border-color: #008cff;
  box-shadow: 0px 0px 4px 0px #008cff;
 }