.header {
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.header__company-name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.header__logo {
  width: 32px;
}

.header__right-panel {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__language-selector {
  max-width: 120px;
}