.movie-card {
  width: 100%;
}

.movie-card__text {
  overflow: hidden;
  height: 72px;
  line-height: 24px;
}

.movie-card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 24px;
}

.movie-card__like-button {
  display: flex;
  align-items: center;
  position: absolute;
  outline: none;
  background: #dc3545;
  border: none;
  border-radius: 50%;
  top: -14px;
  right: -14px;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.movie-card__like-button:focus,
.movie-card__like-button:hover {
  background: #c52d3b;
}

.movie-card__like-button svg {
  width: 100%;
  height: 100%;
  fill: white;
}