.footer {
  padding-top: 12px;
  border-top: 1px solid #c1c1c1;
  margin: auto 0 12px 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  color: #c1c1c1;
  font-size: 14px;
}

.footer__link + .footer__link {
  margin-left: 12px;
}